*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}


@keyframes scroll {
  0% {
      transform : translateX(0);
  }
  100% {
      transform : translate(calc(-250px *9))
  }
}



main{
  background-color: rgba(190, 230, 252, .5);
}

.home{
  padding-top: 35px;
  

}

.home a{
  border-radius: 35px;
  font-size: 12px;
}

.home a:hover{

  background-color: black;
  color: azure;

}


.home h2{
  font-size: 50px;
}

.mentorship{
  font-family: "Instrument Serif", serif;
font-weight: 500;
font-style: italic;
font-size: 54px;
}

.home p{
  padding-top: 15px;
  opacity: 0.9;
}

.home button{
  font-size: 14px;
  font-weight: 600;
}

.skill{
  padding-top: 20px;
  
}

.skill a{
  font-size: 14px;
}

.slider{
  display: grid;
  place-items: center;
  overflow: hidden;
}



.slider-track{
  display: flex;
  animation: scroll 40s linear infinite;
  
}

.slider-track:hover{
  animation-play-state: paused;
}


.slider-story{
  width: 300px;
  height:350px;
  margin-left: 20px;
}

